Expand-PsakeConfiguration `
@{
    <% if (adminTasksEnabled || desktopEnabled || windowsServiceEnabled) { %>
    AdminUsername = 'Administrator'
    AdminPassword = 'xxxxxxxx'
    <% } %>
    <% if (webEnabled) { %>
    DeployUsername = 'DeployUser'
    DeployPassword = 'xxxxxxxx'
    <% } %>
}